/*cai dat chung*/
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #e8f4ff;
}

/*cai dat footer*/
#footer{
	margin-top: 20px;
	padding-bottom: 10px;
	bottom:-23;
}
#navfooter{
	background-color: #727275
}

/*cai dat logo truong*/
#schoollogo{

	margin-top: -15px;
	margin-left:-30px;
}
#logoanh{
	width: 342px;
	height: 50px;
}
/*cai dat table thong tin*/
#tablehead{
	text-align: center;
	background-color: #3F14F6;
}
/*dangnhap.php*/
#banner{
	background-color: #000000 ;
}

/*cai dat menu*/
#mainmenu{
	background-color: #727275;
	margin:0px;
}
#mainmenu a{
	text-decoration: none;
	color: #ffffff;
}
#mainmenu li{
	list-style: none;
}
#leftmenu>li{
	border-right: 1px solid #e8e8e8;
	width: 160px;
}
#leftmenu>li:last-child{
	border-right: none;
}
#leftmenu li{
	position: relative;
}
#leftmenu li ul{
	display: none;
	position: absolute;
	width: 160px;
	background: #727275;
	top: 0px;
	left: 100%;
}
#leftmenu li:hover>ul{
	display: block;
}
#leftmenu>li>ul{
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 1;
}
#leftmenu li>ul>li{
	padding: 10px 10px;
	border-bottom: 1px solid #e8e8e8;
}
#leftmenu li:hover{
	background: #8F8F8F;
}
#leftmenu>li:hover{
	background: #835959;
}
/*logout*/
#drop{
	
	margin-right: 31px;
}
#logout li{
	position: relative;
}
#logout li ul{
	display: none;
	position: absolute;
	width: 160px;
	background: #727275;
	top: 0px;
	left: 100%;
}
#logout li:hover>ul{
	display: block;
}

#logout>li>ul{
	top: 50px;
	left: 0px;
	z-index: 1;	
}
#logout li>ul>li{
	padding: 10px 10px;
}
#logout li:hover{
	background: #8F8F8F;
}
#logout>li:hover{
	background: #835959;
}
/*cai dat gio tinh*/
#gioitinhnam{
	border-right: 1px solid #000000;
	padding-right: 5px;
}
#gioitinh{
	color: #F41010;
	background: #ffffff;
	padding-top: 5px;
	border: 1px solid #cccccc;
	border-radius: 4px;;
}
#gioitinh:hover{
	
	border: 1px solid #66afe9;
}
/*cai dat table diem hoc sinh*/

#tablemon{
	width: 170px;
	text-align: left;
	font-weight: bold;
}
#tablediem{
	width: 60px;
	text-align: center;
	font-weight: bold;

}

